{{- includeTemplate "universal/common-before-template-header" . -}}

echo "📦 Ensuring Homebrew bundle packages…"
brew bundle --verbose --file=/dev/stdin <<EOF
{{ includeTemplate "darwin/brewfile" . }}
EOF
echo "✅ Homebrew bundle applied."
