#!/usr/bin/env bash

eval $({{ .brew.path }} shellenv)

# {{ includeTemplate "universal/next-update" . }}
brew update
brew bundle --verbose --file=/dev/stdin <<EOF
{{ includeTemplate "darwin/brewfile" . }}
EOF
{{- if .host.interactive }}
brew upgrade
brew upgrade --cask --greedy
brew cleanup
{{- end -}}
