{{- $refreshPeriod := "168h" }}

["catppuccin-mocha-zsh-syntax-highlighting.zsh"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/zsh-syntax-highlighting/main/themes/catppuccin_mocha-zsh-syntax-highlighting.zsh"
    refreshPeriod = "{{ $refreshPeriod }}"
