#!/usr/bin/env sh
alias reload="exec ${SHELL} -l"
command -v kubecolor &>/dev/null && alias kubectl='kubecolor'

# eza
if command -v eza &>/dev/null; then
  alias ls='eza --icons --group-directories-first'
  alias ll='eza -lh --icons --group-directories-first --git'
  alias la='eza -lah --icons --group-directories-first --git'
  alias lt='eza --tree --icons --level=2'
  alias l='eza -lah --icons --group-directories-first --git'
fi

# cat/less/man => bat
command -v batcat &>/dev/null && ! command -v bat &>/dev/null && alias bat=batcat
if command -v bat &>/dev/null; then
  alias cat='bat -pp'
  alias less='bat --paging=always'

  # override MANPAGER
  export MANPAGER="sh -c 'col -bx | bat -l man -p'"

fi

# fdfind => fd
command -v fdfind &>/dev/null && ! command -v fd &>/dev/null && alias fd=fdfind

# grep => ripgrep
if command -v rg &> /dev/null; then
  alias grep='rg'
fi

# vim => neovim
if command -v nvim &> /dev/null; then
  alias vim='nvim'
fi

# cd => zoxide
if command -v zoxide &> /dev/null; then
  alias cd='z'
fi

# npm packages
alias ncu="npx --yes -p npm-check-updates@latest ncu"

# wget
alias wget="wget --hsts-file=\"$XDG_CACHE_HOME/wget-hsts\""
