[tools]
'usage' = 'latest'
{{- includeTemplate "base/packages/collect-packages" (dict "root" . "manager" "mise" "format" "mise") }}

[settings]
gpg_verify = true
paranoid = true
trusted_config_paths = ["{{ .host.source | dir }}"]
