{{- $refreshPeriod := "168h" }}

["theme.toml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/yazi/main/themes/mocha/catppuccin-mocha-mauve.toml"
    refreshPeriod = "{{ $refreshPeriod }}"
