{{- if (eq .host.distro.id "ubuntu") -}}
packages:
  - name: schollz/croc@v10.2.2
  - name: dandavison/delta@0.18.2
  - name: sharkdp/hyperfine@v1.19.0
  - name: XAMPPRocky/tokei@v13.0.0-alpha.0
{{- if not (and (eq .host.distro.id "ubuntu") (eq .host.arch "arm64")) }}
  - name: bootandy/dust@v1.1.2
  - name: dalance/procs@v0.14.10
  - name: chmln/sd@v1.0.0
{{- end -}}
{{- end -}}
