{{- if .toolchains.kubernetes }}
packages:
  - name: helm/helm@v3.17.2
  - name: derailed/k9s@v0.40.10
  - name: kubernetes/kubectl@v1.32.3
  - name: kubernetes-sigs/kustomize@kustomize/v5.6.0
  - name: ahmetb/kubectx@v0.9.5
  - name: ahmetb/kubectx/kubens@v0.9.5
{{- if eq .host.distro.family "linux" }}
  - name: Ramilito/kubesess@2.0.2
    registry: local
{{- end }}
  - name: hidetatz/kubecolor@v0.0.25
  - name: mikefarah/yq@v4.45.1
{{- end -}}
