{{- /* gpakosz/.tmux publishes no git tags; pin to master. */ -}}
{{ template "common/github/raw" (dict
    "target"   "tmux.conf"
    "repo"     "gpakosz/.tmux@master"
    "source"   ".tmux.conf"
    "exact"    true) }}
