{{- $environment := promptString "Environment: [personal, work]" -}}
{{- $name := promptString "Your Name" -}}
{{- $email := promptString "Your Email" -}}

[data]
    email = "{{ $email }}"
    name = "{{ $name }}"
    environment = "{{ $environment }}"

[diff]
    format = "git"
    pager = "delta"
