{{- $headless := false -}}
{{- $ephemeral := false -}}
{{- $personal := true -}}
{{- $name := "Artem Dyranov" -}}
{{- $email := "artem.dyranov@gmail.com" -}}

{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vagrant" "vscode") -}}
{{-   $headless = true -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if stdinIsATTY -}}

{{- if hasKey . "personal" -}}
{{-   $personal = .personal -}}
{{- else -}}
{{-   $personal = promptBool "Personal Environment" $personal -}}
{{- end -}}

{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptString "Your Name" $name -}}
{{- end -}}

{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "Your Email" $email -}}
{{- end -}}

{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
    email = "{{ $email }}"
    name = "{{ $name }}"
    personal = {{ $personal }}
    headless = {{ $headless }}
    ephemeral = {{ $ephemeral }}

[diff]
    pager = "delta"
