repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
        exclude: .*\.tmpl
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
        exclude: .*\.tmpl
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys]
      - id: sort-simple-yaml
      - id: trailing-whitespace
        exclude: .*\.md.tmpl$
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        types: [yaml]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort-fix
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: shellcheck
        exclude: .*\.tmpl|.*\.bats
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.35.0
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Run codespell
        args:
          - --quiet-level=2
          - --check-filenames
          - --check-hidden
          - --ignore-words=.codespell-ignore
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-crlf
      - id: remove-tabs
      - id: forbid-crlf
      - id: forbid-tabs
  - repo: https://github.com/editorconfig-checker/editorconfig-checker
    rev: v3.6.0
    hooks:
      - id: editorconfig-checker
        exclude: plist|tmpl|pub|age
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.37.1
    hooks:
      - id: renovate-config-validator
default_language_version:
  python: python3
exclude: |
  (?x)^(
    \.git/.*|
    node_modules/.*|
    .*/__pycache__/.*
  )$
