#!/bin/bash

set -eufo pipefail

{{- if lookPath "asdf" }}

# asdf list hash: {{ output "asdf" "list" | sha256sum }}
echo "Installing asdf plugins..."
while read -r plugin _; do
    asdf plugin-add "$plugin" || true
done <"$HOME/.tool-versions"
asdf install

{{- end -}}
