#!/bin/bash

set -eufo pipefail

{{- if (eq .chezmoi.os "darwin") }}

{{- if not (lookPath "brew") }}
echo "Installing Homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{- if eq .chezmoi.arch "arm64" }}
eval $(/opt/homebrew/bin/brew shellenv)
{{- else }}
eval $(/usr/local/bin/brew shellenv)
{{- end -}}

{{- end -}}

{{- end -}}
