#!/bin/bash

set -evo pipefail

{{- if (eq .chezmoi.os "linux") }}
    sudo apt update
    sudo apt install -y \
    curl \
    git \
    gnupg \
    htop \
    httpie \
    jq \
    neovim \
    subversion \
    tmux \
    wget \
    zsh

    chsh -s $(which zsh)
{{- else if (eq .chezmoi.os "darwin") }}
    brew update
    brew install \
    curl \
    git \
    gnupg \
    helm \
    htop \
    httpie \
    jq \
    kubernetes-cli \
    neovim \
    subversion \
    tmux \
    wget \
    zsh

    shell_path="$(which zsh)"

    if ! grep "$shell_path" /etc/shells > /dev/null 2>&1 ; then
        sudo sh -c "echo $shell_path >> /etc/shells"
    fi
    chsh -s "$shell_path"
{{- end }}
