#!/bin/bash

set -eufo pipefail

{{- if (eq .chezmoi.os "darwin") }}

{{- if not (lookPath "brew") }}
echo "Installing Homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- end -}}

{{- if eq .chezmoi.arch "arm64" }}
eval $(/opt/homebrew/bin/brew shellenv)
{{- else }}
eval $(/usr/local/bin/brew shellenv)
{{- end }}

{{ $taps := .brew.taps -}}

{{ $brews := list -}}
{{ range $package := .packages -}}
{{ $name := $package -}}
{{ if not (contains "no-brew" $name) -}}
{{ $name = regexReplaceAll " \\[.*\\]" $name "" -}}
{{ $brews = append $brews $name  -}}
{{ end -}}
{{ end -}}

{{ $casks := list -}}
{{ $apps := list -}}

{{ if .personal -}}
{{ $casks = concat $casks .brew.casks -}}
{{ $apps = concat $apps .brew.apps -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range $taps -}}
tap "{{ . }}"
{{ end -}}
{{ range $brews -}}
brew "{{ . }}"
{{ end -}}
{{ range $casks -}}
cask "{{ . }}"
{{ end -}}
{{ range $apps -}}
mas "{{ .name }}", id: {{ .id }}
{{ end -}}
EOF

{{- end -}}

{{ if (eq .chezmoi.os "linux") -}}
{{ if (eq .chezmoi.osRelease.id "ubuntu") }}

if [ ! -f /etc/apt/sources.list.d/azure-cli.list ]; then
    curl -fsSL https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
    echo "deb [arch=$(dpkg --print-architecture)] https://packages.microsoft.com/repos/azure-cli $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/azure-cli.list
fi

if [ ! -f /etc/apt/sources.list.d/docker.list ]; then
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
    echo "deb [arch=$(dpkg --print-architecture)] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list
fi

if [ ! -f /etc/apt/sources.list.d/hashicorp.list ]; then
    curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
    echo "deb [arch=$(dpkg --print-architecture)] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
fi

if [ ! -f /etc/apt/sources.list.d/helm-stable-debian.list ]; then
    curl -fsSL https://baltocdn.com/helm/signing.asc | sudo apt-key add -
    echo "deb [arch=$(dpkg --print-architecture)] https://baltocdn.com/helm/stable/debian all main" | sudo tee /etc/apt/sources.list.d/helm-stable-debian.list
fi

if [ ! -f /etc/apt/sources.list.d/kubernetes.list ]; then
    curl -fsSL https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
    echo "deb [arch=$(dpkg --print-architecture)] https://apt.kubernetes.io kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list
fi

packages=(
{{ range $package := .packages -}}
{{ $name := $package -}}
{{ if not (contains "no-apt" $name) -}}
{{ $name = regexReplaceAll " \\[.*\\]" $name "" -}}
{{ $name | indent 4 }}
{{ end -}}
{{ end -}}
)

sudo apt update

sudo apt install -y ${packages[@]}

{{ end -}}
{{ end -}}
