#!/bin/bash

set -eufo pipefail

if command -v kubectl-krew >/dev/null; then
    plugins=(
        access-matrix
        ctx
        get-all
        konfig
        neat
        node-shell
        ns
        resource-capacity
        score
        tree
        view-secret
{{- if (eq .chezmoi.os "darwin") }}
{{- if (ne .chezmoi.arch "arm64") }}
        deprecations
        modify-secret
        popeye
        sniff
        tail
        tap
        tunnel
        who-can
{{- end }}
{{- end }}
    )

    kubectl-krew install ${plugins[@]}
fi
