#!/bin/bash

set -eufo pipefail

# ASDF

ASDF_DIR="${HOME}/.asdf"

if [ ! -d "${ASDF_DIR}" ]; then
    echo "Installing asdf..."
    git clone https://github.com/asdf-vm/asdf.git "${ASDF_DIR}"
    LATEST="$(git -C "${ASDF_DIR}" describe --abbrev=0 --tags)"
    git -C "${ASDF_DIR}" checkout "${LATEST}" --
fi

# Krew
if [[ $(command -v kubectl-krew) ]]; then
	echo "Krew already installed"
	kubectl-krew version
	echo "Run 'kubectl-krew upgrade' to update Krew."
else
	echo "Installing Krew..."
    (
    set -x; cd "$(mktemp -d)" &&
    OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
    ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
    KREW="krew-${OS}_${ARCH}" &&
    curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
    tar zxvf "${KREW}.tar.gz" &&
    ./"${KREW}" install krew
    )
fi

