#!/bin/bash

set -eufo pipefail

{{- if not (lookPath "asdf") }}

echo "Installing asdf..."
ASDF_DIR="${HOME}/.asdf"
[ ! -d $ASDF_DIR ] && git clone https://github.com/asdf-vm/asdf.git "${ASDF_DIR}"

{{- end }}

. ${ASDF_DIR}/asdf.sh
asdf update

while read -r plugin _; do
    asdf plugin-add "$plugin" || true
done <"${HOME}/.tool-versions"
asdf install
