{{- includeTemplate "universal/common-before-template-header" . -}}

echo "🛠️ Updating pacman DB and installing packages…"
{{- if or (eq .host.type "ephemeral") .host.interactive }}
sudo pacman -Syu --noconfirm --needed {{ includeTemplate "universal/packages" (dict "root" .) }}
{{- else }}
sudo pacman -Sy --noconfirm
sudo pacman -S --noconfirm --needed {{ includeTemplate "universal/packages" (dict "root" .) }}
{{- end }}
echo "✅ pacman packages ensured."
