{{- includeTemplate "common/headers/after" . -}}

{{- $compDir := joinPath .host.home ".config/zsh/completions" -}}

echo "🐚 Generating Zsh completions..."
echo "📂 Ensuring completion directory exists: {{ $compDir }}"
mkdir -p "{{ $compDir }}"
{{ includeTemplate "common/packages/render" (dict "root" . "mode" "completions" "render" "completions/script" "compDir" $compDir) }}
echo "✅ Zsh completions generated."
