{{- includeTemplate "common/headers/after" . -}}

# config hash: {{ includeTemplate "common/helpers/render-packages" (dict "root" . "packageManager" "mise" "render" "mise") | sha256sum }}
echo "📦 Ensuring mise packages are installed and up to date..."
mise install
echo "✅ mise packages ensured."
