# chezmoi --remove --dry-run --verbose apply

.asdf
Brewfile
.bash_history
.bash_logout
.bash_profile
.bashrc
.cargo
.colima
.config/llama-swap
.dircolors
.gitconfig
.gitignore
.gradle
.inputrc
.krew
.lesshst
.local/bin/llama-bench
.local/bin/llama-cli
.local/bin/llama-server
.local/share/asdf
.local/share/aqua
.local/src/llama-x86-mac
.local/state/llama-x86-mac
.m2
.npm
.ant
.croc
.python_history
.rustup
.subversion
.terraform.d
.terraformrc
.tmux.conf
.tokei.toml
.tool-versions
.unison
.viminfo
.wgetrc
.zlogin
.zlogout
.zprofile
.zshrc
.zshrc.zwc
.zsh_history
.zsh_sessions
