{{- $headless := false -}}
{{- $ephemeral := false -}}
{{- $restricted := false -}}
{{- $work := false -}}
{{- $name := "Artem Dyranov" -}}
{{- $email := "artem.dyranov@gmail.com" -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- $ephemeralEnvOrUsername := or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode" "devcontainer") -}}
{{- $ephemeralCgroup := and (stat "/proc/1/cgroup") (output "cat" "/proc/1/cgroup" | regexMatch "(docker|lxc)") -}}
{{- if or $ephemeralEnvOrUsername $ephemeralCgroup -}}
{{-   $headless = true -}}
{{-   $ephemeral = true -}}
{{-   writeToStdout "Chezmoi is running in a container.\n" -}}
{{- end -}}

{{- $chassisType := "desktop" }}
{{- if $ephemeral -}}
{{-   $chassisType = "ephemeral" }}
{{- else if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $chassisType = "wsl" }}
{{-   else -}}
{{-     $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{-   end -}}
{{- else if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "powershell.exe" "-noprofile" "-command" "if (Get-WmiObject -Class win32_battery -ComputerName localhost) { echo laptop } else { echo desktop }") }}
{{- end }}

{{- if stdinIsATTY -}}

{{- $work = promptBoolOnce . "host.work" "Work Environment" $work -}}
{{- $restricted = promptBoolOnce . "host.restricted" "Restricted Environment (no sudo access)" $restricted -}}
{{- $name = promptStringOnce . "user.name" "Your Name" $name -}}
{{- $email = promptStringOnce . "user.email" "Your Email" $email -}}

{{- writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}

{{- else -}}
{{-   $headless = true -}}
{{-   writeToStdout "Chezmoi is running in headless environment.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

diff:
  pager: "delta"

data:
    host:
      arch: "{{ .chezmoi.arch }}"
      distro:
        family: "{{ .chezmoi.os }}"
        id: "{{ get .chezmoi.osRelease "id" | default .chezmoi.os }}"
      home: "{{ .chezmoi.homeDir }}"
      type: "{{ $chassisType }}"
      work: {{ $work }}
      restricted: {{ $restricted }}
      headless: {{ $headless }}
    user:
      email: "{{ $email }}"
      name: "{{ $name }}"
      login: "{{ .chezmoi.username }}"
