{{- /* Exception to the "latest tag" policy: romkatv/powerlevel10k-media is a
   media-only repo with no tags or releases. Tracking master is the upstream-
   intended way to consume these fonts. Per-entry refreshPeriod is kept here
   (and only here) since the URL is fixed but content can drift. */ -}}
{{- if .host.interactive }}
{{-   $fontDir := "" }}
{{-   if eq .host.distro.family "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .host.distro.family "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
{{-   range (list
        "MesloLGS NF Regular.ttf"
        "MesloLGS NF Bold.ttf"
        "MesloLGS NF Italic.ttf"
        "MesloLGS NF Bold Italic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/{{ . }}"
    refreshPeriod = "168h"
{{-   end }}
{{- end }}
