# chezmoi --remove --dry-run --verbose apply

.asdf
Brewfile
.bash_history
.bash_logout
.bash_profile
.bashrc
.cargo
.colima
.dircolors
.gitconfig
.gitignore
.gradle
.inputrc
.krew
.lesshst
.local/share/asdf
.local/share/aqua
.m2
.npm
.npmrc
.python_history
.rustup
.subversion
.tmux.conf
.tool-versions
.viminfo
.wgetrc
.zlogin
.zlogout
.zprofile
.zshrc
.zshrc.zwc
.zsh_history
.zsh_sessions
