
{{- $refreshPeriod := "168h" }}

{{- if not .host.headless }}
{{-   $fontDir := "" }}
{{-   $powerlevelBase := "https://github.com/romkatv/powerlevel10k-media/raw/master" }}
{{-   if eq .host.distro.family "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .host.distro.family "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
["{{ $fontDir }}/MesloLGS NF Regular.ttf"]
    type = "file"
    url = "{{ $powerlevelBase }}/MesloLGS NF Regular.ttf"
    refreshPeriod = "{{ $refreshPeriod }}"
["{{ $fontDir }}/MesloLGS NF Bold.ttf"]
    type = "file"
    url = "{{ $powerlevelBase }}/MesloLGS NF Bold.ttf"
    refreshPeriod = "{{ $refreshPeriod }}"
["{{ $fontDir }}/MesloLGS NF Italic.ttf"]
    type = "file"
    url = "{{ $powerlevelBase }}/MesloLGS NF Italic.ttf"
    refreshPeriod = "{{ $refreshPeriod }}"
["{{ $fontDir }}/MesloLGS NF Bold Italic.ttf"]
    type = "file"
    url = "{{ $powerlevelBase }}/MesloLGS NF Bold Italic.ttf"
    refreshPeriod = "{{ $refreshPeriod }}"
{{- end }}
[".config/tmux/tmux.conf"]
  type = "file"
  url = "https://github.com/gpakosz/.tmux/raw/master/.tmux.conf"
  exact = true
