README.md
install.sh
.keys
.chezmoiscripts/*/**
!.chezmoiscripts/before/**
!.chezmoiscripts/common/**
!.chezmoiscripts/os/{{ .host.distro.id }}/**
!.chezmoiscripts/post/**
{{- if ne .host.distro.family "darwin" }}
home/private_Library
{{- end }}
{{- if not .secrets.age }}
**/*.age
{{- end }}
