{{- if .toolchains.golang -}}
golang 1.20.4
{{- end -}}
{{- if .toolchains.iac }}
terraform 1.4.6
terragrunt 0.46.2
{{- end -}}
{{- if .toolchains.java }}
java adoptopenjdk-17.0.7+7
maven 3.9.1
{{- end -}}
{{- if .toolchains.node }}
nodejs 18.16.0
{{- end -}}
{{- if .toolchains.python }}
python 3.11.3
{{- end -}}
