{{- if .toolchains.golang -}}
golang 1.22.0
{{- end -}}
{{- if .toolchains.iac }}
terraform 1.7.3
terragrunt 0.55.1
{{- end -}}
{{- if .toolchains.java }}
ant 1.10.14
java adoptopenjdk-21.0.2+13.0.LTS
maven 3.9.5
{{- end -}}
{{- if .toolchains.node }}
nodejs 20.11.0
{{- end -}}
{{- if .toolchains.python }}
python 3.12.2
{{- end -}}
{{- if .toolchains.kubernetes }}
k3d 5.6.0
{{- end -}}
