{{- if .toolchains.golang -}}
golang 1.25.1
{{- end -}}
{{- if .toolchains.iac }}
terraform 1.13.2
terragrunt 0.87.1
{{- end -}}
{{- if .toolchains.java }}
ant 1.10.15
java temurin-21.0.8+9.0.LTS
maven 3.9.11
{{- end -}}
{{- if .toolchains.node }}
nodejs 22.19.0
{{- end -}}
{{- if .toolchains.python }}
python 3.13.7
{{- end -}}
{{- if .toolchains.kubernetes }}
k3d 5.8.3
{{- end -}}
