# Passive XDG redirections (docker).
# colima
export COLIMA_HOME="$XDG_CONFIG_HOME/colima"
export LIMA_HOME="$XDG_DATA_HOME/lima"
# docker
export DOCKER_CONFIG="$XDG_CONFIG_HOME/docker"
export DOCKER_BUILDKIT=1
