{{- $refreshPeriod := "168h" }}

["catppuccin-mocha-blue.yml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/lazygit/main/themes-mergable/mocha/blue.yml"
    refreshPeriod = "{{ $refreshPeriod }}"
