#!/bin/bash

set -eufo pipefail

{{- if not (lookPath "kubectl-krew") }}

echo "Installing kubectl-krew..."
(
set -x; cd "$(mktemp -d)" &&
OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
KREW="krew-${OS}_${ARCH}" &&
curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
tar zxvf "${KREW}.tar.gz" &&
./"${KREW}" install krew >/dev/null 2>&1
)

{{- else }}

# kubectl-krew list hash: {{ output "kubectl-krew" "list" | sha256sum }}

{{- end }}

plugins=(
    access-matrix
    ctx
    get-all
    konfig
    neat
    node-shell
    ns
    resource-capacity
    score
    tree
    view-secret
{{- if (ne .chezmoi.arch "arm64") }}
    deprecations
    modify-secret
    popeye
    sniff
    tail
    tap
    tunnel
    who-can
{{- end }}
)

echo "Installing kubectl-krew plugins..."
${HOME}/.krew/bin/kubectl-krew install ${plugins[@]} >/dev/null 2>&1
