{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq .chezmoi.osRelease.id "alpine") -}}
#!/usr/bin/env bash
set -eufo pipefail

sudo sh -c 'cat << EOT > /etc/apk/repositories
http://dl-cdn.alpinelinux.org/alpine/edge/main
http://dl-cdn.alpinelinux.org/alpine/edge/testing
http://dl-cdn.alpinelinux.org/alpine/edge/community
EOT'

packages=(
{{ range $package := .packages -}}
{{ if not (contains "no-apk" $package) -}}
{{ $name := $package -}}
{{ $name = regexReplaceAll " \\[.*\\]" $name "" -}}
{{ if contains "apk:" $package -}}
{{ $name = regexReplaceAll ".* \\[.*apk:([\\w_-]+).*\\]" $package "${1}" -}}
{{ end -}}
{{ $name | indent 4 }}
{{ end -}}
{{ end -}}
)

sudo apk add --update ${packages[@]}
{{- end -}}
{{- end -}}
