#!/usr/bin/env bash
set -eufo pipefail

{{- if (and (eq .chezmoi.os "darwin") (not .restricted)) }}
if ! grep -qc "/usr/local/bin/zsh" /etc/shells; then
  echo "/usr/local/bin/zsh" | sudo tee -a /etc/shells > /dev/null
fi

{{- if eq .chezmoi.arch "arm64" }}
if [[ ! -e /usr/local/bin/zsh ]]; then
  sudo ln -sf /opt/homebrew/bin/zsh /usr/local/bin/zsh
fi
{{- end -}}
{{- end -}}

{{- if (and (eq .chezmoi.os "linux") (not .ephemeral)) }}

LOGINSHELL=$(getent passwd $LOGNAME | cut -d: -f7)
if [ "$LOGINSHELL" != "/usr/bin/zsh" ]; then
  chsh -s /usr/bin/zsh
fi

{{- end -}}
