[packages.universal.cloud]
aws-cli = {manager = "mise", test = "aws --version"}
azure-cli = {test = "az --version"}

[packages.universal.common]
act = {test = "act --version"}
age-plugin-yubikey = {test = "age-plugin-yubikey --version"}
bash = {test = "bash --version"}
bat = {test = "bat --version"}
broot = {test = "broot --version"}
btop = {disabled = "ephemeral", test = "btop --version"}
chezmoi = {test = "chezmoi --version"}
coreutils = {test = "realpath --version"}
croc = {test = "croc --version"}
curl = {test = "curl --version"}
direnv = {test = "direnv version"}
duf = {test = "duf --version"}
dust = {test = "dust --version"}
eza = {test = "eza --version"}
fd = {test = "fd --version"}
fzf = {test = "fzf --version"}
gh = {test = "gh --version"}
git = {test = "git --version"}
git-delta = {test = "delta --version"}
gnupg = {test = "gpg --version"}
httpie = {test = "http --version"}
hyperfine = {test = "hyperfine --version"}
jq = {test = "jq --version"}
mise = {test = "mise --version"}
mkcert = {test = "mkcert -version"}
neovim = {test = "nvim --version"}
procs = {test = "procs --version"}
rage = {test = "rage --version"}
rclone = {test = "rclone --version"}
ripgrep = {test = "rg --version"}
sd = {test = "sd --version"}
tmux = {test = "tmux -V"}
tokei = {test = "tokei --version"}
vivid = {test = "vivid --version"}
wget = {test = "wget --version"}
zsh = {test = "zsh --version"}

[packages.universal.docker]
docker = {test = "docker -v"}
docker-compose = {test = "docker compose version"}
docker-buildx = {test = "docker buildx version"}
dive = {manager = "mise", name = "ubi:wagoodman/dive", test = "dive --version"}

[packages.universal.extra]
gocryptfs = {disabled = "headless,restricted", test = "gocryptfs -version"}
qrencode = {test = "qrencode --version"}
unison = {test = "unison -version"}
zbar = {test = "zbarimg --version"}

[packages.universal.golang]
go = {manager = "mise", test = "go version"}

[packages.universal.iac]
terraform = {manager = "mise", test = "terraform version"}
terragrunt = {manager = "mise", test = "terragrunt --version"}
sops = {manager = "mise", test = "sops --version"}
tflint = {manager = "mise", test = "tflint --version"}
shellcheck = {manager = "mise", test = "shellcheck --version"}

[packages.universal.java]
ant = {manager = "mise", test = "ant -version"}
maven = {manager = "mise", test = "mvn -v"}
java = {manager = "mise", test = "java -version", version = "25"}

[packages.universal.kubernetes]
datree = {manager = "mise", test = "datree version"}
helm = {manager = "mise", test = "helm version"}
k3d = {manager = "mise", test = "k3d version"}
k9s = {manager = "mise", test = "k9s version"}
kubectl = {manager = "mise", test = "kubectl version --client"}
kubectx = {manager = "mise", test = "kubectx --help"}
kubens = {manager = "mise", test = "kubens --help"}
kubecolor = {manager = "mise", test = "kubecolor help"}
kubesess = {manager = "mise", name = "ubi:Ramilito/kubesess", test = "kubesess --help"}
kustomize = {manager = "mise", test = "kustomize version"}
oc = {manager = "mise", test = "oc version --client"}
popeye = {manager = "mise", test = "popeye version"}
stern = {manager = "mise", test = "stern --version"}
yq = {manager = "mise", test = "yq --version"}
kubectl-access-matrix = {manager = "krew", name = "access-matrix", test = "kubectl access-matrix --help"}
kubectl-blame = {manager = "krew", name = "blame", test = "kubectl blame --help"}
kubectl-cost = {manager = "krew", name = "cost", test = "kubectl cost --help"}
kubectl-datree = {manager = "krew", name = "datree", test = "kubectl datree version"}
kubectl-deprecations = {manager = "krew", name = "deprecations", test = "kubectl deprecations --help"}
kubectl-get-all = {manager = "krew", name = "get-all", test = "kubectl get-all --help"}
kubectl-images = {manager = "krew", name = "images", test = "kubectl images --help"}
kubectl-konfig = {manager = "krew", name = "konfig", test = "kubectl konfig --help"}
kubectl-kubescape = {manager = "krew", name = "kubescape", test = "kubectl kubescape --help"}
kubectl-kyverno = {manager = "krew", name = "kyverno", test = "kubectl kyverno --help"}
kubectl-modify-secret = {manager = "krew", name = "modify-secret", test = "kubectl modify-secret --help"}
kubectl-neat = {manager = "krew", name = "neat", test = "kubectl neat --help"}
kubectl-node-shell = {manager = "krew", name = "node-shell", test = "kubectl node-shell --version"}
kubectl-outdated = {manager = "krew", name = "outdated", test = "kubectl outdated --help"}
kubectl-rbac-tool = {manager = "krew", name = "rbac-tool", test = "kubectl rbac-tool --help"}
kubectl-resource-capacity = {manager = "krew", name = "resource-capacity", test = "kubectl resource-capacity --help"}
kubectl-score = {manager = "krew", name = "score", test = "kubectl score --help"}
kubectl-slice = {manager = "krew", name = "slice", test = "kubectl slice --help"}
kubectl-sniff = {manager = "krew", name = "sniff", test = "kubectl sniff --help"}
kubectl-tree = {manager = "krew", name = "tree", test = "kubectl tree --help"}
kubectl-tunnel = {manager = "krew", name = "tunnel", test = "kubectl tunnel --help"}
kubectl-view-allocations = {manager = "krew", name = "view-allocations", test = "kubectl view-allocations --help"}
kubectl-who-can = {manager = "krew", name = "who-can", test = "kubectl who-can --help"}
helm-diff = {manager = "helm", name = "https://github.com/databus23/helm-diff", test = "helm diff --help"}

[packages.universal.node]
node = {manager = "mise", test = "node --version && npm --version && yarn --version && pnpm --version", version = "22"}

[packages.universal.python]
python = {manager = "mise", test = "python3 --version && pip --version && pre-commit --version"}
uv = {manager = "mise", name = "uv", test = "uv --version"}

[packages.universal.rust]
rust = {manager = "mise", test = "rustc --version"}
