{{- $refreshPeriod := "168h" }}

["themes/catppuccin-mocha.theme"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/btop/main/themes/catppuccin_mocha.theme"
    refreshPeriod = "{{ $refreshPeriod }}"
