{{- if .toolchains.kubernetes }}
{{ template "common/github/archive" (dict
    "target"          "skins"
    "repo"            "catppuccin/k9s@main"
    "stripComponents" 2
    "include"         (list "k9s-*/dist/catppuccin-mocha*.yaml")) }}
{{- end }}
