{{- $refreshPeriod := "168h" -}}

["bats"]
    type = "git-repo"
    url = "https://github.com/bats-core/bats-core.git"
    refreshPeriod = "{{ $refreshPeriod }}"
    clone.args = ["--depth", "1"]

["bats-assert"]
    type = "git-repo"
    url = "https://github.com/bats-core/bats-assert.git"
    refreshPeriod = "{{ $refreshPeriod }}"
    clone.args = ["--depth", "1"]

["bats-support"]
    type = "git-repo"
    url = "https://github.com/bats-core/bats-support.git"
    refreshPeriod = "{{ $refreshPeriod }}"
    clone.args = ["--depth", "1"]

["bats-file"]
    type = "git-repo"
    url = "https://github.com/bats-core/bats-file.git"
    refreshPeriod = "{{ $refreshPeriod }}"
    clone.args = ["--depth", "1"]
