
{{- $refreshPeriod := "168h" }}

[_chezmoi]
    type = "file"
    url = 'https://raw.githubusercontent.com/twpayne/chezmoi/master/completions/chezmoi.zsh'
    refreshPeriod = "{{ $refreshPeriod }}"

{{- if .toolchains.docker }}
[_docker]
    type = "file"
    url = 'https://raw.githubusercontent.com/docker/cli/master/contrib/completion/zsh/_docker'
    refreshPeriod = "{{ $refreshPeriod }}"
{{- end }}

{{- if .toolchains.iac }}
[_terragrunt]
    type = "file"
    url = 'https://raw.githubusercontent.com/thuandt/zsh-terraform/master/_terragrunt'
    refreshPeriod = "{{ $refreshPeriod }}"
{{- end }}
