{{- includeTemplate "universal/common-after-template-header" . -}}

{{- $compDir:= joinPath .host.home ".config/zsh/completions" -}}


if [ "$(command -v datree)" ]; then
  datree completion zsh > "{{ $compDir }}/_datree"
fi

if [ "$(command -v k3d)" ]; then
  k3d completion zsh > "{{ $compDir }}/_k3d"
fi

if [ "$(command -v kubectl)" ]; then
  kubectl completion zsh | sed 's/kubectl/kubecolor/g' > "{{ $compDir }}/_kubecolor"
fi

if [ "$(command -v mise)" ]; then
  mise completion zsh > "{{ $compDir }}/_mise"
fi

if [ "$(command -v popeye)" ]; then
  popeye completion zsh > "{{ $compDir }}/_popeye"
fi

if [ "$(command -v stern)" ]; then
  stern --completion zsh > "{{ $compDir }}/_stern"
fi

if [ "$(command -v yq)" ]; then
  yq shell-completion zsh > "{{ $compDir }}/_yq"
fi
