{{- if .toolchains.rust -}}
#!/usr/bin/env bash

source $HOME/.config/shell/exports.sh

# {{ includeTemplate "universal/next-update" . }}

RUSTUP_INIT_SKIP_PATH_CHECK=yes rustup-init -y --no-modify-path
rustup self update || true
rustup update || true

{{- end -}}
