{{- if .toolchains.kubernetes -}}
#!/usr/bin/env bash

source $HOME/.config/shell/exports.sh

# {{ includeTemplate "universal/next-update" . }}

if [[ ! -e $KREW_ROOT/bin/kubectl-krew ]]; then
    (
    set -x; cd "$(mktemp -d)" &&
    OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
    ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
    KREW="krew-${OS}_${ARCH}" &&
    curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
    tar zxvf "${KREW}.tar.gz" &&
    ./"${KREW}" install krew
    )
fi

KREW_PLUGINS=(
{{- $packages := splitList " " (includeTemplate "universal/packages" (dict "root" . "packageManager" "krew")) -}}
{{- range $pkg := $packages -}}
{{- if ne $pkg "" }}
  "{{ $pkg }}"
{{- end -}}
{{- end }}
)

$KREW_ROOT/bin/kubectl-krew update 2>/dev/null
$KREW_ROOT/bin/kubectl-krew upgrade 2>/dev/null

for plugin in "${KREW_PLUGINS[@]}"; do
    if ! $KREW_ROOT/bin/kubectl-krew list | grep -q "^$plugin$"; then
        echo Installing Krew plugin "$plugin"
        $KREW_ROOT/bin/kubectl-krew install "$plugin"
    else
        echo Krew plugin "$plugin" already installed
    fi
done
{{- end -}}
