{{- if .toolchains.extra -}}
#!/usr/bin/env bash

source $HOME/.config/shell/exports.sh

# {{ includeTemplate "universal/next-update" . }}

declare -A HELM_PLUGINS=(
    ["diff"]="https://github.com/databus23/helm-diff" # pragma: allowlist secret
    ["secrets"]="https://github.com/jkroepke/helm-secrets" # pragma: allowlist secret
)

for name in "${!HELM_PLUGINS[@]}"; do
    url=${HELM_PLUGINS[$name]}
    if ! helm plugin list | awk '{print $1}' | grep -qx "$name"; then
        echo "Installing Helm plugin $name"
        helm plugin install "$url"
    else
        echo "Helm plugin $name already installed"
    fi
done
{{- end -}}
