{{- if not .host.headless -}}
#!/usr/bin/env bash

{{- $encryptedKey := joinPath .chezmoi.sourceDir ".keys/key.txt.age" }}
{{- $decryptedKey := joinPath .chezmoi.homeDir ".config/age/key.txt" }}

{{- if stat $decryptedKey }}
# key hash: {{ include $decryptedKey | sha256sum }}
{{- end }}

if command -v age >/dev/null 2>&1; then
    if [ ! -f "{{ $decryptedKey }}" ]; then
        mkdir -p "{{ .chezmoi.homeDir }}/.config/age"
        age --decrypt \
        --output "{{ $decryptedKey }}" \
        "{{ $encryptedKey }}"
        chmod 600 "{{ $decryptedKey }}"
    fi
fi
{{- end -}}
