{{- if .host.secrets -}}
#!/usr/bin/env bash

{{- if .host.personal }}
if [ ! "$(command -v bw)" ]; then
  echo "Bitwarden CLI command was not found"
  exit 1
elif ! bw --nointeraction --quiet login --check; then
  echo "Please login to Bitwarden and set the BW_SESSION environment variable"
  exit 1
elif ! bw --nointeraction --quiet unlock --check; then
  echo "Please unlock Bitwarden and set the BW_SESSION environment variable"
  exit 1
fi
{{- end }}

if [ ! "$(command -v age)" ]; then
  echo "age command was not found"
  exit 1
fi

{{- $encryptedKey := joinPath .chezmoi.sourceDir ".keys/key.txt.age" }}
{{- $decryptedKey := joinPath .chezmoi.homeDir ".config/age/key.txt" }}

if [ ! -f "{{ $decryptedKey }}" ]; then
    echo "Decrypting {{ $encryptedKey }}"
    mkdir -p "{{ .chezmoi.homeDir }}/.config/age"
    age --decrypt --output "{{ $decryptedKey }}" "{{ $encryptedKey }}"
    chmod 600 "{{ $decryptedKey }}"
fi
{{- end -}}
