{{- includeTemplate "universal/common-after-template-header" . -}}

{{- $files := list -}}
{{- range $path := glob (list .host.source "private_dot_config/exact_mise/**/*.toml" | join "/") }}
{{- $files = concat $files (list (include $path)) -}}
{{- end }}

# hash: {{ $files | join "" | sha256sum }}
echo "📦 Installing mise packages…"
mise install
echo "✅ mise packages ensured."
