{{- if .secrets.age -}}
#!/usr/bin/env bash

{{- $encryptedKey := joinPath .host.source ".keys/key.txt.age" }}
{{- $decryptedKey := joinPath .host.home ".config/age/key.txt" }}

if [ ! -f "{{ $decryptedKey }}" ]; then
    echo "Decrypting {{ $encryptedKey }}"
    mkdir -p "{{ .host.home }}/.config/age"
    chezmoi age --decrypt --output "{{ $decryptedKey }}" "{{ $encryptedKey }}"
    chmod 600 "{{ $decryptedKey }}"
fi
{{- end -}}
