{{- if .secrets.bitwarden -}}
{{- includeTemplate "universal/common-before-template-header" . -}}

if [ ! "$(command -v rbw)" ]; then
  echo "Bitwarden CLI 'rbw' command was not found"
  exit 1
elif ! rbw unlocked; then
  echo "Please unlock Bitwarden"
  rbw unlock
fi

rm -f "{{ .secrets.cache }}/*"
mkdir -p "{{ .secrets.cache }}"

secrets=(
{{- range .secrets.universal.bitwarden }}
  {{ . | quote }}
{{- end }}
)

for secret in "${secrets[@]}"
do
    rbw get $secret > "{{ .secrets.cache  }}/$secret"
    chmod 600 "{{ .secrets.cache  }}/$secret"
done
{{- end -}}
