{{- if .secrets.bitwarden -}}
#!/usr/bin/env bash

if [ ! "$(command -v bw)" ]; then
  echo "Bitwarden CLI command was not found"
  exit 1
elif ! bw --nointeraction --quiet login --check; then
  echo "Please login to Bitwarden and set the BW_SESSION environment variable"
  exit 1
elif ! bw --nointeraction --quiet unlock --check; then
  echo "Please unlock Bitwarden and set the BW_SESSION environment variable"
  exit 1
fi

rm -rf "{{ .cache.secrets.dir }}"
mkdir -p "{{ .cache.secrets.dir }}"

secrets=(
  id_ecdsa.pub
  id_ed25519.pub
  id_rsa.pub
  id_ecdsa.key
  id_ed25519.key
  id_rsa.key
)

for secret in "${secrets[@]}"
do
    echo Caching Bitwarden secret  \"$secret\"
    bw get notes $secret > "{{ .cache.secrets.dir }}/$secret"
    chmod 600 "{{ .cache.secrets.dir }}/$secret"
done
# {{ includeTemplate "universal/next-update" . }}
{{- end -}}
