#!/usr/bin/env bash
set -eufo pipefail

source $HOME/.config/shell/exports.sh

# renovate: depName=aquaproj/aqua datasource=github-releases
current_aqua_version=v2.51.2

if [ ! $(command -v aqua) ] || [ $(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $current_aqua_version ]; then
  echo "Installing aqua"
  curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v3.1.1/aqua-installer | bash -s -- -v $current_aqua_version
fi

{{- $files := list -}}
{{- range $path := glob (list .host.source "private_dot_config/exact_aqua/**/*.yaml.tmpl" | join "/") }}
{{- $files = concat $files (list (include $path)) -}}
{{- end }}

# aqua.yaml.tmpl hash: {{ $files | join "" | sha256sum }}
aqua install -a
