{{ template "base/github/external" (dict
    "type"   "archive"
    "target" "bats"
    "repo"   "bats-core/bats-core") }}

{{ template "base/github/external" (dict
    "type"   "archive"
    "target" "bats-assert"
    "repo"   "bats-core/bats-assert") }}

{{ template "base/github/external" (dict
    "type"   "archive"
    "target" "bats-support"
    "repo"   "bats-core/bats-support") }}

{{ template "base/github/external" (dict
    "type"   "archive"
    "target" "bats-file"
    "repo"   "bats-core/bats-file") }}
