{{ template "common/github/archive" (dict
    "target" "bats"
    "repo"   "bats-core/bats-core") }}

{{ template "common/github/archive" (dict
    "target" "bats-assert"
    "repo"   "bats-core/bats-assert") }}

{{ template "common/github/archive" (dict
    "target" "bats-support"
    "repo"   "bats-core/bats-support") }}

{{ template "common/github/archive" (dict
    "target" "bats-file"
    "repo"   "bats-core/bats-file") }}
