{{- $refreshPeriod := "168h" }}

["themes/catppuccin-mocha-mauve.toml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/atuin/main/themes/mocha/catppuccin-mocha-mauve.toml"
    refreshPeriod = "{{ $refreshPeriod }}"
