{{ template "base/github/external" (dict
    "type"   "file"
    "target" "themes/catppuccin-mocha-mauve.toml"
    "repo"   "catppuccin/atuin@main"
    "source" "themes/mocha/catppuccin-mocha-mauve.toml") }}
