{{- if .secrets.age -}}
{{- includeTemplate "base/headers/script" (dict "root" . "exports" false) -}}
{{- $encryptedKey := joinPath .host.source ".keys/chezmoi.txt.age" -}}
{{- $decryptedKey := joinPath .host.home ".config/age/chezmoi.txt" -}}
{{- if (stat $encryptedKey) }}
# Hash: {{ include $encryptedKey | sha256sum }}
{{- end }}
{{- if not (stat $decryptedKey) }}
# TargetMissing: true
{{- end }}

if [ ! -f "{{ $decryptedKey }}" ]; then
    echo "🔐 Decrypting age key: {{ $encryptedKey }}"
    mkdir -p -m 700 "{{ .host.home }}/.config/age"
    if chezmoi age decrypt -p --output "{{ $decryptedKey }}" "{{ $encryptedKey }}"; then
        chmod 600 "{{ $decryptedKey }}"
        echo "✅ Wrote key to {{ $decryptedKey }} (0600)"
    else
        echo "❌ Failed to decrypt age key." >&2
        exit 1
    fi
fi
{{- end -}}
