{{ template "common/github/archive" (dict
    "target" "catppuccin.nvim"
    "repo"   "catppuccin/nvim"
    "exact"  true) }}
{{ template "common/github/archive" (dict
    "target" "nvim-web-devicons"
    "repo"   "nvim-tree/nvim-web-devicons"
    "exact"  true) }}
{{ template "common/github/archive" (dict
    "target" "cafetiere.nvim"
    "repo"   "lpnh/cafetiere.nvim@main"
    "exact"  true) }}
