{{ template "base/github/external" (dict
    "type"   "archive"
    "target" "catppuccin.nvim"
    "repo"   "catppuccin/nvim@main"
    "exact"  true) }}
{{ template "base/github/external" (dict
    "type"   "archive"
    "target" "nvim-web-devicons"
    "repo"   "nvim-tree/nvim-web-devicons@master"
    "exact"  true) }}
{{ template "base/github/external" (dict
    "type"   "archive"
    "target" "cafetiere.nvim"
    "repo"   "lpnh/cafetiere.nvim@main"
    "exact"  true) }}
