min-passphrase-len 16

default-cache-ttl 3600 # 1 hour
max-cache-ttl 86400 # 24 hours

enable-ssh-support
default-cache-ttl-ssh 28800 # 8 hours
max-cache-ttl-ssh 86400 # 24 hours

{{ if lookPath "pinentry-mac" -}}
pinentry-program {{ lookPath "pinentry-mac" }}
{{ end }}
