{{- includeTemplate "universal/common-before-template-header" . -}}

echo "🛠️ Updating APT cache and installing packages…"
sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get install -y --no-install-recommends {{ includeTemplate "universal/packages" (dict "root" .) }}
echo "✅ APT packages ensured."
