#!/usr/bin/env sh
alias sudo='sudo ' # https://wiki.archlinux.org/title/Sudo#Passing_aliases
alias reload="exec ${SHELL} -l"
command -v kubecolor &>/dev/null && alias kubectl='kubecolor'

# ls => exa
if command -v exa &> /dev/null; then
  alias ls='exa --group-directories-first --sort=name --classify'
  alias la='ls -la'
  alias lt='ls --tree --level=2'
fi

# cat/less/man => bat
command -v batcat &>/dev/null && ! command -v bat &>/dev/null && alias bat=batcat
if command -v bat &>/dev/null; then
  alias cat='bat -pp'
  alias less='bat --paging=always'

  # override MANPAGER
  export MANPAGER="sh -c 'col -bx | bat -l man -p'"

fi

# fdfind => fd
command -v fdfind &>/dev/null && ! command -v fd &>/dev/null && alias fd=fdfind

# grep => ripgrep
if command -v rg &> /dev/null; then
  alias grep='rg'
fi

# vim => neovim
if command -v nvim &> /dev/null; then
  alias vim='nvim'
fi

# npm packages
alias ncu="npx -p npm-check-updates@latest ncu"

# k8s
if command -v colima &> /dev/null; then
  alias k8s-start="colima start k8s --kubernetes --runtime containerd --cpu 4 --memory 8 --disk 40"
  alias k8s-stop="colima stop k8s"
fi

# wget
alias wget="wget --hsts-file=\"$XDG_CACHE_HOME/wget-hsts\""
