<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <localRepository>{{ joinPath .host.home ".local" "share" "maven" "repository" }}</localRepository>
{{ if .host.work -}}
{{ joinPath .host.source "private_dot_config" "exact_maven" "encrypted_work.settings.xml.age" | include | decrypt }}
{{- end }}
</settings>
