{{- includeTemplate "universal/common-before-template-header" . -}}

if [ ! "$(command -v rbw)" ]; then
  echo "Bitwarden CLI 'rbw' command was not found"
  exit 1
elif ! rbw unlocked; then
  echo "Please unlock Bitwarden"
  rbw unlock
fi

rm -f "{{ .cache.secrets.dir }}/*"
mkdir -p "{{ .cache.secrets.dir }}"

secrets=(
  id_ed25519.key
  id_rsa.key
)

for secret in "${secrets[@]}"
do
    rbw get $secret > "{{ .cache.secrets.dir }}/$secret"
    chmod 600 "{{ .cache.secrets.dir }}/$secret"
done
