{{- $refreshPeriod := "168h" }}

["catppuccin.gitconfig"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/delta/main/catppuccin.gitconfig"
    refreshPeriod = "{{ $refreshPeriod }}"
