[core]
    autocrlf = input
    untrackedCache = true
[branch]
    autosetuprebase = always
[column]
    ui = auto
[diff]
    algorithm = histogram
    colorMoved = default
    colorMovedWS = allow-indentation-change
    renamelimit = 0
    mnemonicprefix = true
    renames = copies
    submodule = log
[fetch]
    prune = true
[help]
    autocorrect = prompt
[init]
    defaultBranch = main
[merge]
    ff = only
    renamelimit = 0
    summary = true
    stat = true
    conflictstyle = zdiff3
[pack]
    threads = 0
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[rebase]
    autosquash = true
    updateRefs = true
[rerere]
    enabled = true
    autoupdate = true
[transfer]
    fsckobjects = true
[status]
    showUntrackedFiles = all
