[include]
    path = ~/.config/git/base
    path = ~/.config/git/color
    path = ~/.config/git/diff
    path = ~/.config/git/merge
    path = ~/.config/git/user
    {{ if .secrets.age }}path = ~/.config/git/work{{- end }}
    path = ~/.config/git/local
