[user]
    name = "{{ .user.name }}"
    email = "{{ .user.email }}"
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
