[user]
    name = "{{ .git.name }}"
    email = "{{ .git.email }}"
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
