[user]
  name = "{{ .personal.name }}"
  email = "{{ .personal.email }}"
[credential "https://dev.azure.com"]
  useHttpPath = true
[credential "https://github.com"]
  helper =
  helper = !{{ lookPath "gh" | default "gh" }} auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !{{ lookPath "gh" | default "gh" }} auth git-credential
