{{ if .host.work -}}
import ssl
import urllib.request

# Create unverified SSL context once
_unverified_context = ssl.create_default_context()
_unverified_context.check_hostname = False
_unverified_context.verify_mode = ssl.CERT_NONE

# Disable SSL verification globally
ssl._create_default_https_context = ssl._create_unverified_context

# Patch urllib.request.urlopen
_original_urlopen = urllib.request.urlopen

def _patched_urlopen(*args, **kwargs):
    kwargs['context'] = _unverified_context
    return _original_urlopen(*args, **kwargs)

urllib.request.urlopen = _patched_urlopen

# Patch urllib2 for nodeenv compatibility
try:
    import urllib2
    _original_urlopen2 = urllib2.urlopen

    def _patched_urlopen2(*args, **kwargs):
        opener = urllib2.build_opener(urllib2.HTTPSHandler(context=_unverified_context))
        return opener.open(*args, **kwargs)

    urllib2.urlopen = _patched_urlopen2
except ImportError:
    pass
{{- end }}
