{{- if (eq .host.distro.id "ubuntu") -}}
packages:
  - name: schollz/croc@v9.6.4
  - name: dandavison/delta@0.15.1
  - name: sharkdp/hyperfine@v1.16.1
  - name: XAMPPRocky/tokei@v13.0.0-alpha.0
{{- if not (and (eq .host.distro.id "ubuntu") (eq .host.arch "arm64")) }}
  - name: bootandy/dust@v0.8.6
  - name: dalance/procs@v0.14.0
  - name: chmln/sd@v0.7.6
{{- end -}}
{{- end -}}
