{{- if (eq .host.distro.id "ubuntu") -}}
packages:
  - name: schollz/croc@v9.6.6
  - name: dandavison/delta@0.16.5
  - name: sharkdp/hyperfine@v1.18.0
  - name: XAMPPRocky/tokei@v13.0.0-alpha.0
{{- if not (and (eq .host.distro.id "ubuntu") (eq .host.arch "arm64")) }}
  - name: bootandy/dust@v0.8.6
  - name: dalance/procs@v0.14.4
  - name: chmln/sd@v0.7.6
{{- end -}}
{{- end -}}
