{{- if or .toolchains.iac }}
packages:
  - name: koalaman/shellcheck@v0.8.0
  - name: mozilla/sops@v3.7.3
  - name: gruntwork-io/terragrunt@v0.40.2
  - name: hashicorp/terraform@v1.3.5
  - name: terraform-linters/tflint@v0.42.2
{{- end -}}
