{{- if or .toolchains.iac }}
packages:
  - name: koalaman/shellcheck@v0.9.0
  - name: mozilla/sops@v3.7.3
  - name: gruntwork-io/terragrunt@v0.42.4
  - name: hashicorp/terraform@v1.3.6
  - name: terraform-linters/tflint@v0.43.0
{{- end -}}
