{{- if or .toolchains.iac }}
packages:
  - name: koalaman/shellcheck@v0.9.0
  - name: mozilla/sops@v3.7.3
  - name: gruntwork-io/terragrunt@v0.44.2
  - name: hashicorp/terraform@v1.3.9
  - name: terraform-linters/tflint@v0.45.0
{{- end -}}
