{{- if or .toolchains.kubernetes }}
packages:
  - name: helm/helm@v3.10.2
  - name: derailed/k9s@v0.26.7
  - name: kubernetes/kubectl@v1.25.5
  - name: ahmetb/kubectx@v0.9.4
  - name: ahmetb/kubectx/kubens@v0.9.4
  - name: mikefarah/yq@v4.30.5
{{- end -}}
