#!./test/bats/bin/bats

load 'common-helper'

setup() {
  common_setup
}

@test "age" {
  run age --help
  assert_success
}

@test "bat" {
  run bat --help
  assert_success
}

@test "bash" {
  run bash --help
  assert_success
}

@test "coreutils" {
  run realpath --help
  assert_success
}

@test "curl" {
  run curl --help
  assert_success
}

@test "delta" {
  run delta --help
  assert_success
}

@test "direnv" {
  run direnv --help
  assert_success
}

@test "exa" {
  run exa --help
  assert_success
}

@test "fd" {
  run fd --help
  assert_success
}

@test "gh" {
  run gh --help
  assert_success
}

@test "git" {
  run git --help
  assert_success
}

@test "gnupg" {
  run gpg --help
  assert_success
}

@test "htop" {
  run htop --help
  assert_success
}

@test "httpie" {
  run http --version
  assert_success
}

@test "jq" {
  run jq --help
  assert_success
}

@test "neovim" {
  run nvim --help
  assert_success
}

@test "ripgrep" {
  run rg --help
  assert_success
}

@test "tmux" {
  run tmux -V
  assert_success
}

@test "wget" {
  run wget --help
  assert_success
}

@test "zsh" {
  run zsh --help
  assert_success
}
{{ if not .host.restricted }}
@test "encfs" {
  run encfs --version
  assert_success
}

@test "gocryptfs" {
  run gocryptfs --help
  assert_success
}
{{ end }}
{{ if eq .host.distro.family "darwin" }}
@test "colima" {
  run colima --help
  assert_success
}

@test "mas" {
  run mas
  assert_success
}
{{ end }}
{{ if .toolchains.docker }}
@test "docker" {
  run docker --help
  assert_success
}

@test "dive" {
  run dive --help
  assert_success
}
{{ end }}
{{ if .toolchains.kubernetes }}
@test "helm" {
  run helm --help
  assert_success
}

@test "k9s" {
  run k9s --help
  assert_success
}

@test "kubectl" {
  run kubectl --help
  assert_success
}

@test "kubectx" {
  run kubectx --help
  assert_success
}

@test "kubens" {
  run kubens --help
  assert_success
}

@test "kubesess" {
  run kubesess --help
  assert_success
}

@test "kustomize" {
  run kustomize --help
  assert_success
}

@test "yq" {
  run yq --help
  assert_success
}

{{ end }}
{{ if .toolchains.golang }}
@test "golang" {
  run go version
  assert_success
}
{{ end }}
{{ if .toolchains.java }}
@test "java" {
  run java --help
  assert_success
}

@test "maven" {
  run mvn --help
  assert_success
}
{{ end }}
{{ if .toolchains.node }}
@test "nodejs" {
  run node --help
  assert_success
}

@test "yarn" {
  run yarn --help
  assert_success
}
{{ end }}
{{ if .toolchains.python }}
@test "pre-commit" {
  run pre-commit --help
  assert_success
}
{{ end }}
{{ if .toolchains.rust }}
@test "rustc" {
  run rustc --help
  assert_success
}
{{ end }}
{{ if .toolchains.iac }}
@test "shellcheck" {
  run shellcheck --help
  assert_success
}

@test "sops" {
  run sops --help
  assert_success
}

@test "terraform" {
  run terraform --help
  assert_success
}

@test "terragrunt" {
  run terragrunt --help
  assert_success
}

@test "tflint" {
  run tflint --help
  assert_success
}

{{ end }}
{{ if .toolchains.extra }}
@test "datree" {
  run datree --help
  assert_success
}

@test "popeye" {
  run popeye --help
  assert_success
}

@test "stern" {
  run stern --help
  assert_success
}
{{ end }}
