{{- if eq .host.distro.family "darwin" -}}
#!/usr/bin/env bats

load 'common-helper'

setup() {
  common_setup
}
{{- if not .host.headless }}
{{- if .toolchains.docker }}

@test "colima" {
  run colima --help
  assert_success
}
{{- end }}
{{- end }}

@test "mas" {
  run mas
  assert_success
}

@test "pinentry-mac" {
  run pinentry-mac --version
  assert_success
}
{{- end }}
