{{- if .toolchains.extra -}}
#!./test/bats/bin/bats

load 'common-helper'

setup() {
  common_setup
}

@test "helm diff" {
  run helm diff version
  assert_success
}

@test "helm secrets" {
  run helm secrets version
  assert_success
}
{{- end -}}
