{{- if .toolchains.node }}
#!/usr/bin/env bats

load 'common-helper'

setup() {
  common_setup
}

@test "nodejs" {
  run node --help
  assert_success
}

@test "npm" {
  run npm -v
  assert_success
}

@test "pnpm" {
  run pnpm --help
  assert_success
}

@test "yarn" {
  run yarn --help
  assert_success
}
{{- end -}}
