name: CI Host
on:
  push:
    branches:
      - main
      - feature/*
  pull_request:
    branches:
      - main
  schedule:
    - cron: 0 23 * * 5
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  changes:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Paths Filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: ${{ github.event.pull_request.base.ref || github.base_ref || github.ref }}
          filters: |
            shared: &shared
              - 'home/.chezmoi*'
              - 'home/.chezmoidata/universal/**'
              - 'home/.chezmoiscripts/universal/**'
              - 'home/.chezmoitemplates/universal/**'
              - 'home/dot_*'
              - 'home/dot_*/**'
              - 'home/private_dot_*'
              - 'home/private_dot_*/**'
              - 'install.sh'
              - .github/workflows/ci-host.yaml
            ubuntu:
              - *shared
              - 'home/.chezmoidata/ubuntu/**'
              - 'home/.chezmoiscripts/ubuntu/*'
              - 'home/.chezmoitemplates/ubuntu/*'
            macos:
              - *shared
              - 'home/.chezmoidata/darwin/**'
              - 'home/.chezmoiscripts/darwin/*'
              - 'home/.chezmoitemplates/darwin/*'
      - name: Set Matrix
        id: set-matrix
        run: |
          CHANGES='${{ steps.filter.outputs.changes }}'
          MATRIX="$(jq -c '
            map(
              if . == "ubuntu" then
                ["ubuntu-24.04","ubuntu-24.04-arm"]
              elif . == "macos" then
                ["macos-15","macos-15-intel"]
              else
                []
              end
            )
            | add
          ' <<< "$CHANGES")"
          if [[ "$MATRIX" == "null" || "$MATRIX" == "" ]]; then
            MATRIX='[]'
          fi
          echo "matrix=$MATRIX" >> "$GITHUB_OUTPUT"
  host-build:
    needs: changes
    if: ${{ needs.changes.outputs.matrix != '[]' }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ${{ fromJSON(needs.changes.outputs.matrix) }}
      fail-fast: false
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Restore Cache
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/Library/Caches/Homebrew/Formula
            ~/Library/Caches/Homebrew/downloads
            ~/.local/share/mise/downloads
            ~/.local/share/helm/plugins
            ~/.local/share/krew/store
          key: chezmoi-cache-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('home/**') }}
          restore-keys: chezmoi-cache-${{ runner.os }}-${{ runner.arch }}-
      - name: Run install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_NO_INSTALL_CLEANUP: 1
          MISE_ALWAYS_KEEP_DOWNLOAD: true
          MISE_FETCH_REMOTE_VERSIONS_TIMEOUT: 60
          MISE_HTTP_TIMEOUT: 60
        run: ./install.sh
      - name: Run tests
        run: ~/.local/bin/check-dotfiles
      - name: Save Cache
        if: ${{ always() }}
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/Library/Caches/Homebrew/Formula
            ~/Library/Caches/Homebrew/downloads
            ~/.local/share/mise/downloads
            ~/.local/share/helm/plugins
            ~/.local/share/krew/store
          key: chezmoi-cache-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('home/**') }}
