name: Security Scan

on:
  schedule:
  - cron: 0 1 * * 6
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  security-scan:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@76071ef0d7ec797419534a183b498b4d6366cf37 # 0.31.0
      env:
        TRIVY_USERNAME: ${{ github.repository_owner }}
        TRIVY_PASSWORD: ${{ github.token }}
      with:
        image-ref: ghcr.io/${{ github.repository }}:latest
        ignore-unfixed: true
        vuln-type: os
        severity: CRITICAL,HIGH
        format: sarif
        output: trivy-results.sarif
    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@fca7ace96b7d713c7035871441bd52efbe39e27e # v3
      with:
        sarif_file: trivy-results.sarif
