name: Security Scan

on:
  schedule:
  - cron: 0 1 * * 6
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  security-scan:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@b2933f565dbc598b29947660e66259e3c7bc8561 # 0.20.0
      env:
        TRIVY_USERNAME: ${{ github.repository_owner }}
        TRIVY_PASSWORD: ${{ github.token }}
      with:
        image-ref: ghcr.io/${{ github.repository }}:latest
        ignore-unfixed: true
        vuln-type: os
        severity: CRITICAL,HIGH
        format: sarif
        output: trivy-results.sarif
    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@ccf74c947955fd1cf117aef6a0e4e66191ef6f61 # v3
      with:
        sarif_file: trivy-results.sarif
